:root {
    --main-color: hsl(165, 80%, 45%);
    --main-color-darker: hsl(165, 50%, 45%);
    --main-color-border: hsl(165, 40%, 45%);
    --main-color-background: hsl(165, 8%, 20%);
}

body {
    font-family: 'Calibri';
    font-size: 105%;
    padding: 0;
}

div.em-frame {
    height: 400px !important;
    width: 380px !important;
    background-color: var(--main-color-background);
    border-width: 1px;
    border-style: solid;
    border-color: var(--main-color-border);
    margin-top: 3px;
    padding: 10px;
    position: relative;
}

div.em-title {
    bottom: 0;
    color: var(--main-color);
    font-size: 80%;
    height: 20px;
    position: absolute;
    text-align: left;
    width: 75%;
}

div.em-seqn {
    bottom: 0;
    color: var(--main-color);
    font-size: 80%;
    height: 20px;
    position: absolute;
    text-align: right;
    width: 95%;
}

h1 {
    color: hsl(0, 0%, 70%);
    font-weight: bold;
    font-size: 120%;
    margin: 0;
    margin-left: -5px;
    margin-bottom: 25px;
}

p {
    margin: 15px 0;
}

span.material-symbols-outlined {
    color: var(--main-color);
    font-size: 135%;
    vertical-align: bottom;
}

span.cmd-bi span.material-symbols-outlined {
    color: #9cdcfe !important;
    font-size: 105%;
    padding-bottom: 2px;
    padding-right: 3px;
}

a {
    color: var(--main-color-darker);
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}

a[href^="http"]::after {
    content: "\29C9\2009";
    font-size: 70%;
    margin-left: 2px;
}

a:focus {
    outline: none;
}

code {
    background-color: transparent;
    font-family: 'Consolas';
    font-size: 80%;
    font-weight: bold;
}

code.cmd-cd {
    color: red;
}

code.cmd-ce {
    color: #d4d4d4;
}

code.cmd-cf {
    color: #dcdcaa;
}

code.cmd-ck {
    color: #c586c0;
}

code.cmd-cn {
    color: #9cdcfe;
}

code.cmd-ct {
    color: #4ec9B0;
}

code.cmd-cu {
    color: #53acf5;
}

code.cmd-cx {
    color: rgb(212,212,212);
}

div.em-dl dt {
    display: inline;
}

div.em-dl dd {
    display: inline;
}

div.em-bmlist {
    margin: 10px 0;
}

div.em-bmlist ul {
    list-style-type: none;
    padding: 0;
}

div.em-bmlist p {
    padding-left: 25px !important;
    text-indent: -28px !important;
}
